---
layout: default
---

{% include carousel.html %}

<div class="main-content">


  <div class="content-inner">
    <div class="highlights-section">
        <div class="content-section">
            <div class="section-inner">
                <h3 class="black-text"><center>Highlights</center></h3>
                {% for post in site.categories.news %}
                  <p class="black-text text-darken-2"><a class="body-link" href="{{ post.url | prepend: site.baseurl }}">{{post.title}} - {{post.date}}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="supported-section">
        <div class="content-section">
            <h3 class="black-text"><center>Supported by</center></h3>
            <div class="row">
                <div class="col s6 m3 highlights blue-article-bg nn">
                    logo here
                </div>
                <div class="col s6 m3 highlights blue-article-bg nn">
                    logo here
                </div>
                <div class="col s6 m3 highlights blue-article-bg nn">
                    logo here
                </div>
                <div class="col s6 m3 highlights blue-article-bg nn">
                    logo here
                </div>
            </div>
        </div>
    </div>

    <div class="news-section">
      <div class="content-section">
          <div class="row">
              <div class="col s6">
                  <h3 class="black-text"><center>News</center></h3>
                  <p class="black-text"><center>news here</center></p>
              </div>
          </div>
          <div class="row">
              <div class="col s6">
                  <h3 class="black-text"><center>Events</center></h3>
                  <p class="black-text"><center>events here</center></p>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
