---
layout: default
---

{% include carousel.html %}

<div class="container main-content">

    <div class="highlights-section">
        <div class="row">
            <!-- highlights  -->
            <div class="col s12 z-depth-2">
                <div>
                    <h3 class="black-text"><center>Highlights</center></h3>
                    {% for post in site.categories.news %}
                      <p class="black-text text-darken-2"><a class="body-link" href="{{ post.url | prepend: site.baseurl }}">{{post.title}} - {{post.date}}</a></p>
                    {% endfor %}
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>

        <div class="row">
            <!-- supported by  -->
            <div class="col s12 white-article-bg z-depth-2">
                <h3 class="black-text"><center>Supported by</center></h3>
            </div>
            <div class="col s6 m3 highlights blue-article-bg z-depth-2">
                logo here
            </div>
            <div class="col s6 m3 highlights blue-article-bg z-depth-2">
                logo here
            </div>
            <div class="col s6 m3 highlights blue-article-bg z-depth-2">
                logo here
            </div>
            <div class="col s6 m3 highlights blue-article-bg z-depth-2">
                logo here
            </div>
            <div class="divider"></div>
        </div>

        <div class="row">
            <!-- supported by  -->
            <div class="col s12 m6 white-article-bg z-depth-2">
                <div class="row">
                    <h3 class="black-text"><center>News</center></h3>
                </div>
                <div class="row">
                    <h3 class="black-text"><center>news here</center></h3>
                </div>
            </div>
            <div class="col s12 m6 white-article-bg z-depth-2">
                <div class="row">
                    <h3 class="black-text"><center>Events</center></h3>
                </div>
                <div class="row">
                    <h3 class="black-text"><center>events here</center></h3>
                </div>
            </div>
            <div class="divider"></div>
        </div>

</div>
