---
layout: default
---

{% include carousel.html %}

<div class="main-content">


  <div class="content-inner">
    <div class="content-section">
      <center>
        <div class="section-inner">
          <div class="row">
            <div class="col s6">
              <h4 class="blue-text"><i class="material-icons">search</i>COMBAT TB Explorer</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut congue mauris non quam consequat,
                  a fermentum mi euismod. Donec vitae elit nisi. Aenean lobortis eu lectus eu posuere.</p>
            </div>
            <div class="col s6">
              <h4 class="green-text"><i class="material-icons">build</i>COMBATB TB Workbench</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut congue mauris non quam consequat,
                a fermentum mi euismod. Donec vitae elit nisi. Aenean lobortis eu lectus eu posuere.</p>
            </div>
          </div>
        </div>
      </center>
    </div>
  </div>
  <div class="content-inner">
    <div class="highlights-section">
        <div class="content-section">
          <!-- <center>
            <div class="section-inner">
                <h3 class="black-text"><center>Highlights</center></h3>
                {% for post in site.categories.news %}
                  <p class="dark-text"><a class="body-link" href="{{ post.url | prepend: site.baseurl }}">{{post.title}} - {{post.date}}</a></p>
                {% endfor %}
            </div>
          </center> -->
        </div>
    </div>

    <div class="news-section">
      <div class="content-section">
        <center>
        <div class="section-inner">
          <div class="row">
              <div class="col s6">
                  <h3 class="black-text"><center>News</center></h3>
                    {% for post in site.categories.news %}
                      <p class="dark-text"><a class="body-link" href="{{ post.url | prepend: site.baseurl }}">{{post.title}} - {{post.date}}</a></p>
                    {% endfor %}
              </div>
              <div class="col s6">
                  <h3 class="black-text"><center>Events</center></h3>
                  {% for post in site.categories.events %}
                    <p class="dark-text"><a class="body-link" href="{{ post.url | prepend: site.baseurl }}">{{post.title}} - {{post.date}}</a></p>
                  {% endfor %}

              </div>
          </div>
        </div>
      </center>
      </div>
    </div>

    <div class="supported-section">
        <div class="content-section">
          <center>
          <div class="section-inner">
            <h3 class="black-text"><center>Supported by</center></h3>
            <div class="row">
                <div class="col s6 m3">
                    <img src="assets/img/SANBI_logo.svg">
                </div>
                <div class="col s6 m3">
                    <img src="assets/img/SAMRC_Logo.svg">
                </div>
                <div class="col s6 m3">
                    <img src="assets/img/UWC_Logo.svg">
                </div>
                <div class="col s6 m3">
                    <img src="assets/img/NRF_Logo.svg">
                </div>
            </div>
          </div>
        </center>
        </div>
    </div>

  </div>
</div>
