  <div class="carousel-outer container-fluid container-large">
	  <div class="carousel z-depth-2 carousel-slider center" data-indicators="true">

      {% for post in site.categories.carousel %}
        <div class="carousel-item white-text" style="background-color:#{{post.color}}; background-image: url('/assets/img/{{post.pic | prepend: site.baseurl}}');" href="#one!">
    		  <h2 class="center-align white-text">{{ post.title }}</h2>
    		  <p class="white-text">{{ post.excerpt | strip_html }}</p>
          <div class="carousel-fixed-item center">
      		  <a href="{{post.link}}" class="btn waves-effect white grey-text darken-text-2">button</a>
      		</div>

    		</div>
  		{% endfor %}

	  </div>
  </div>
