<div id="topnav">

	<!-- dropdown menus  -->
		<!-- About  -->
		<ul id="dropdown-about" class="dropdown-content">
			<li><a href="{{ "/about" | prepend: site.baseurl }}">About COMBAT-TB</a></li>
		  <li><a href="{{ "/team" | prepend: site.baseurl }}">Team</a></li>
		  <li><a href="{{ "/publications" | prepend: site.baseurl }}">Publications</a></li>
			<li><a href="{{ "/events" | prepend: site.baseurl }}">Events</a></li>
		  <li><a href="{{ "/data\-sources" | prepend: site.baseurl }}">Other data sources</a></li>
		</ul>
	<!-- Use  -->
	<ul id="dropdown-use" class="dropdown-content">
	  <li><a href="http://explorer.combattb.org">COMBAT TB Explorer</a></li>
	  <!-- <li><a href="http://ctbgx.sanbi.ac.za">COMBAT TB Analysis Server</a></li> -->
	</ul>

	<!-- Education  -->
	<ul id="dropdown-edu" class="dropdown-content">
		<li><a href="{{ "/explorer-guide" | prepend: site.baseurl }}">Guide to using Explorer</a></li>
	  <!-- <li><a href="{{ "/galaxy-guide" | prepend: site.baseurl }}">Galaxy tutorials/tours for ctbgx workflow</a></li> -->
		<!-- <li><a href="{{ "/videos" | prepend: site.baseurl }}">Video tutorials</a></li> -->
	</ul>

	<!-- main menu  -->
	<nav class="">
	  <div class="nav-wrapper container">
	    <a href="/combat-tb" class="brand-logo"><img src="{{site.baseurl}}/assets/img/logo.png" height="80px" /></a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

	    <ul class="right hide-on-med-and-down">
	      <li><a class="dropdown-button" href="#!" data-activates="dropdown-about">About<i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a class="dropdown-button" href="#!" data-activates="dropdown-use"><span style="font-weight: 600; font-size: 1.1em;">Tools</span><i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a class="dropdown-button" href="#!" data-activates="dropdown-edu">Education<i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a href="{{ "/contribute" | prepend: site.baseurl }}">Deploy &amp; Develop</a></li>
	    </ul>

			<!-- mobile menu  -->
			<ul class="side-nav" id="mobile-demo">
				<li><a  href="#">About</a>
					<ul id="dropdown-about" class="dropdown-content">
						<li><a href="{{ "/about" | prepend: site.baseurl }}">About COMBAT-TB</a></li>
					  <li><a href="{{ "/community/team" | prepend: site.baseurl }}">Team</a></li>
					  <li><a href="{{ "/community/publications" | prepend: site.baseurl }}">Publications</a></li>
						<li><a href="{{ "/community/events" | prepend: site.baseurl }}">Events</a></li>
					  <li><a href="{{ "/community/data-sources" | prepend: site.baseurl }}">Other data sources</a></li>
					</ul>
				</li>
				<li><a  href="#"><span style="font-weight: 600;">Tools</span></a>
					<ul id="dropdown-use" class="dropdown-content">
						<li><a href="http://combattb.sanbi.ac.za">COMBAT TB Explorer/Encyclopedia</a></li>
					  <li><a href="http://ctbgx.sanbi.ac.za">COMBAT TB Analysis Server</a></li>
					</ul>
				</li>
				<li><a  href="#">Education</a>
					<ul id="dropdown-edu" class="dropdown-content">
						<li><a href="{{ "/community/team" | prepend: site.baseurl }}">Guide to using Explorer</a></li>
					  <li><a href="{{ "/community/publications" | prepend: site.baseurl }}">Galaxy tutorials/tours for ctbgx workflow</a></li>
						<li><a href="{{ "/community/events" | prepend: site.baseurl }}">Video tutorials</a></li>
					</ul>
				</li>
				<li><a href="{{ "/contribute" | prepend: site.baseurl }}">Deploy &amp; Develop</a></li>
      </ul>
	  </div>
	</nav>
</div>
