---
# Transform Sass into css
---
@import "materialize";
@import "fontawesome";
@import "pygments";

//colours
$dark-primary-color: #00796B;
$default-primary-color: #009688;
$light-primary-color: #B2DFDB;

$accent-color: #d32f2f;
$dark-accent-color: #9a0007;
$light-accent-color: #ff6659;

$primary-text-color: #212121;
$secondary-text-color: #757575;

$divider-color: #BDBDBD;


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: $primary-text-color;
}

main {
  flex: 1 0 auto;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}

.carousel-outer{
  margin-top: 50px;
}

.footer-copyright{
  background-color: $accent-color!important;
}

.active{
  color: $divider-color;
}

.hidden{
  display: none;
}

.no-margin {
    margin: 0;
    &.__top {
        margin-top: 0;
    }
    &.__bottom {
        margin-bottom: 0;
    }
    &.__left {
        margin-left: 0;
    }
    &.__right {
        margin-right: 0;
    }
}

.divider {
  background: transparent;
  border-bottom: 2px solid rgba(0, 39, 59, 0.08);
  &.dashed {
    border-bottom: 8px dashed #A9A9A9;
    transform: scale(1,0.1);
    width: 50%;
    margin: auto;
  }
}

.group-article .row:last-child .divider{
  display: none
}

.card {
    border-radius: 0;
}

nav .brand-logo {
    position: absolute;
    color: #FFF;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0px;
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
}

article {
    padding: 10px;
    font-size: 1.35rem;
    line-height: 1.7;
    font-weight: 300;
    &.post-content {
      ul {
          margin-left: 20px;
      }
      h1, h2, h3, h4, h5, h6 {
          font-weight: 200;
      }
      li {
        list-style-type: disc;
      }
      &.on-index {
        padding:0;
        font-size: 17px;
        line-height: 1.5;
      }
    }
}

.list-article {
  padding: 20px;
}

footer.page-footer {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: -0.003em;
 }



 @media #{$medium-and-up} {
   .container {
     width: 75%;
   }
 }

 @media #{$large-and-up} {
   .container {
     width: 60%;
   }
 }
