---
# Transform Sass into css
---
@import "materialize";
@import "fontawesome";
@import "pygments";



$white: #FFFFFF;

$primary-text-color: #212121;
$secondary-text-color: #757575;

$divider-color: #BDBDBD;

$dark-primary-color: #1e4192;
$default-primary-color: #3e61b2;
$light-primary-color: #b2b9c9;

$accent-color: #607d8b;
$dark-accent-color: #263238;
$light-accent-color: #eceff1;

/* typography */
h1,h2,h3,h4 {
  text-align: left;
  color: $dark-primary-color;
  font-weight: 400;
}



/* structure */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: $primary-text-color;

  background: $light-accent-color;
  /*background: -webkit-linear-gradient(to right, $accent-color, $light-accent-color);
  background: linear-gradient(to right, $accent-color, $light-accent-color);*/
}

main {
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}

nav {
  height: 66px!important;
  background-color: $white!important;
  color: $primary-text-color;
  /* background: -webkit-linear-gradient(to right,$dark-primary-color, $default-primary-color);
  background: linear-gradient(to right,$dark-primary-color, $default-primary-color); */

  ul {
    a {
      padding: 0 10px;
    }
  }

}

.body-link {
  color: $light-accent-color;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: $dark-primary-color!important;
    font-size: 1rem;
}

.carousel-outer{
  margin-top: 0px;
}

.carousel h2{
  font-size: 32px;
  font-weight: 300;
  margin-top: 100px;
}

.carousel.carousel-slider .carousel-item p {
  max-width: 42em;
  margin: auto;
  color: #FFF;
}

.active{
  color: $divider-color;
}

.main-content{
  margin-top:80px;
  margin-bottom: 100px;
}

.white-article-bg {
  padding: 40px!important;
  background-color: #FFF;
}

.lime-article-bg {
  padding: 40px!important;
  background-color: $dark-primary-color;
}

.dropdown-content{
  width: auto!important;
  top: 64px!important;
}

.hidden{
  display: none;
}

.post-content{
  max-width: 38em;
  padding-right: 20px;
}

.no-margin {
    margin: 0;
    &.__top {
        margin-top: 0;
    }
    &.__bottom {
        margin-bottom: 0;
    }
    &.__left {
        margin-left: 0;
    }
    &.__right {
        margin-right: 0;
    }
}

.divider {
  background: transparent;
  border-bottom: 2px solid rgba(0, 39, 59, 0.08);
  &.dashed {
    border-bottom: 8px dashed #A9A9A9;
    transform: scale(1,0.1);
    width: 50%;
    margin: auto;
  }
}

.group-article .row:last-child .divider{
  display: none
}

.card {
    border-radius: 0;
}

nav .brand-logo {
    position: absolute;
    color: #FFF;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0px;
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
}

article {
    padding: 10px;
    font-size: 1.35rem;
    line-height: 1.7;
    font-weight: 300;
    &.post-content {
      ul {
          margin-left: 20px;
      }
      h1, h2, h3, h4, h5, h6 {
          font-weight: 200;
      }
      li {
        list-style-type: disc;
      }
      &.on-index {
        padding:0;
        font-size: 17px;
        line-height: 1.5;
      }
    }
}

.list-article {
  padding: 20px;
  padding-left: 0;
}

.highlights{
  margin-top: 150px;
}

.content-section {
  margin-top: 50px;

  p {
    color: $primary-text-color!important;
  }

}

footer {
  .page-footer {
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: -0.003em;
  }

  .footer-copyright{
    background-color: $primary-text-color!important;
  }

 }


/* SECTIONS */
#team{
}


 /* responsive */
 @media #{$medium-and-up} {
   .container {
     width: 75%;
   }
 }

 @media #{$large-and-up} {
   .container {
     width: 60%;
   }
 }
